## OS
.DS_Store

## Env / secrets
.env
.env.*
!.env.example

## Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

## Dependencies
node_modules/

## Build outputs
dist/
build/
coverage/

## Expo / React Native
.expo/
.metro-health-check*
web-build/

## TypeScript
*.tsbuildinfo

